<div class="container">
    <h1 style="margin-top: 5%;">Ver Ejercicio</h1>
    
    <div>
        <strong>ID:</strong>
        <p>{{ ejercicios.id }}</p>
    </div>
    
    <div>
        <strong>Título:</strong>
        <p>{{ ejercicios.title }}</p>
    </div>
    
    <div>
        <strong>Creador:</strong>
        <p>{{ ejercicios.creator }}</p>
    </div>
    
    <div style="margin-bottom: 5%;">
        <strong>Número de jugadores:</strong>
        <p>{{ ejercicios.nPlayers }}</p>
    </div>
    <a style="color: white; background-color: forestgreen; margin-left: 5%;"href="#" routerLink="/ejercicios/index" class="btn">Atrás</a>
</div>