<div class="container">
  <h1 style="margin-top: 5%;">Actualizar ejercicio</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input formControlName="titulo" id="titulo" type="text" [(ngModel)]="ejercicios.title"
        class="form-control" />{{ejercicios.title}}

      <div *ngIf="f['titulo'].touched && f['titulo'].invalid" class="alert alert-danger">
        <div *ngIf="f['titulo'].errors && f['titulo'].errors['required']">
          ¡Introduce una título!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Creador</label>
      <textarea formControlName="descripcion" id="descripcion" type="text" [(ngModel)]="ejercicios.creator"
        class="form-control">
      </textarea>
      <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="alert alert-danger">
        <div *ngIf="f['descripcion'].errors && f['descripcion'].errors['required']">
          ¡Introduce al creador!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="colaboradores">Número de jugadores</label>
      <textarea formControlName="colaboradores" id="colaboradores" type="text" [(ngModel)]="ejercicios.nPlayers"
        class="form-control">
        </textarea>
      <div *ngIf="f['colaboradores'].touched && f['colaboradores'].invalid" class="alert alert-danger">
        <div *ngIf="f['colaboradores'].errors && f['colaboradores'].errors['required']">
          ¡Introduce el número de jugadores!
        </div>
      </div>
    </div>
    <button style="color: white; background-color: forestgreen;" class="btn" type="submit"
      [disabled]="!form.valid">
      Actualizar
    </button>
    <a style="color: white; background-color: forestgreen; margin-left: 5%;" href="#" routerLink="/ejercicios/index"
      class="btn">Atrás</a>
  </form>
</div>