<div class="container">
  <h1>Lista de ejercicios</h1>

  <a href="#" routerLink="/ejercicios/create/" class="btn btn-success">Crear ejercicio</a>

  <div *ngFor="let e of ejercicioses" class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ e.title }}</h4>
          <p class="card-text">{{ e.creator }}</p>
          <p class="card-text">{{ e.nPlayers }}</p>

          <div (click)="irUpdateElemento(e)" class="btn btn-primary">Ver</div>
          <!-- <a href="#" [routerLink]="['/ejercicios/', e.id, 'edit']" class="btn btn-success">Editar</a> -->

          <button type="button" (click)="deleteejercicios(e.id)" class="btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>