<div class="container">
  <h1>Lista de ejercicios</h1>

  <a href="#" routerLink="/ejercicios/create/" class="btn btn-success">Crear ejercicio</a>

  <div *ngFor="let e of ejercicioses" class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Título: {{ e.title }}</h4>
          <p class="card-text">Creador: {{ e.creator }}</p>
          <p class="card-text">Número de jugadores: {{ e.nPlayers }}</p>

          <!-- <div (click)="irUpdateElemento(e)" class="btn btn-primary">Editar</div> -->
          <a href="#" [routerLink]="['/ejercicios/', e.id, 'view']" class="btn btn-primary">Ver</a>
          <a href="#" [routerLink]="['/ejercicios/', e.id, 'edit']" class="btn btn-success">Editar</a>

          <button type="button" (click)="deleteejercicios(e.id)" class="btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>